*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fraunces', serif;
font-family: 'Hanken Grotesk', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Outfit', sans-serif;
font-family: 'Red Hat Display', sans-serif;
}
body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background-color: hsl(225, 100%, 94%);
    font-weight: 500;
}
.container{
    width:min(90%,350px);
    border-radius: 10px;
    overflow: hidden;
    background-color:  hsl(225, 100%, 98%);
}
h1{
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 900;
}
.text{
    margin-bottom: 25PX;

}

.img img{
    width: 100%;

}
.content{
    padding: 30px 20px 15px 20px;
    text-align: center;
    
}
p{
    color: hsl(224, 23%, 55%);
    font-size: 16px;
}

.annual{
    display: flex;
    
    padding:10px 10px;
    background-color:aliceblue;
    border-radius: 10px;
    align-items: center;
    margin-top: 20px;
    font-size: 14px;

}

a{
    font-size: 14px;
    color:hsl(245, 75%, 52%);
    font-weight:700 ;
}
.annual .annualPlan{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    margin-right: 27px;
    gap: 5px;

} 
.annualPlan{
    text-transform: capitalize;
}
.annual img{
    margin-right: 15px;

}


.btn{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: hsl(245, 75%, 52%);
    height: 3rem;
    margin-top: 2rem;
    border-radius: 10px;
    color: aliceblue;
    transition: all ease-in-out .2s;
    margin-bottom: 15px;
    cursor: pointer;
    
}
.btn a{
    color: aliceblue;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    
}
.cancel{
    text-transform: capitalize;
    font-size: 14px;
    color:hsl(224, 23%, 55%);
    cursor:pointer;
}
.btn:hover{
background-color: hsl(223, 47%, 23%);
}

